include tpDcc/tools/{{cookiecutter.tool_name}}/__logging__.ini
recursive-include tpDcc/tools/{{cookiecutter.tool_name}}/resources/* *.*
include versioneer.py
include tpDcc/tools/{{cookiecutter.tool_name}}/_version.py
