# ===================================================================
# tpDcc-tools-{{cookiecutter.tool_name}} requirements file
# ===================================================================
tpDcc-core